<DOCTYPE html>

    <html lang="en">
    
    <head>
        <title>Conversor de moedas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width =device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/js/index.js"></script>
    
    </head> 
    